.home-container {
  background-color: #152850;
  min-height: 100vh;
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.website-logo {
  height: 60px;
}
.logout-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 10px 24px;
  cursor: pointer;
}
.main-heading {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
  margin: 60px;
}
.digital-card-image {
  width: 600px;
}
